.app {
  z-index: -222;
  background: #1e1e1e;
  /* background: transparent; */
  position: relative;
}

.purple {
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 868px;
  top: -2px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 1023px) {
  .purple {
    width: 40px;
    height: 40px;
    left: 296px;
    top: 291px;
  }
}


.red {
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  width: 83px;
  height: 83px;
  left: 519px;
  top: 83px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 1023px) {
  .red {
    width: 43px;
    height: 43px;
    left: 29px;
    top: 457px;
  }
}

.redBall {
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 851px;
  top: 547px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 1023px) {
  .redBall {
    width: 18px;
    height: 18px;
    left: 278px;
    top: 618px;
  }
}

.purple-light {
  z-index: -1;
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
}

@media screen and (max-width: 1023px) {
  .purple-light {
    left: 258px;
    top: 162px;
  }
}

.redLight {
  z-index: -1;
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}

@media screen and (max-width: 1023px) {
  .redLight {
    width: 211px;
    height: 210px;
    left: -55px;
    top: 296px;
  }
}

.yellow {
  z-index: -1;
  display: none;
}

@media screen and (max-width: 1023px) {
  .yellow {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    left: -66px;
    top: 574px;
    background: #fcb045;
    opacity: 0.4;
    filter: blur(196px);
  }
}

.yellowBall {
  z-index: -1;
  display: none;
}

@media screen and (max-width: 1023px) {
  .yellowBall {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 46px;
    top: 684px;
    transform: rotate(90deg);
  }
}

.glass {
  display: none;
  z-index: -1;
}

@media screen and (max-width: 1023px) {
  .glass {
    position: absolute;
    display: block;
    width: 320px;
    height: 445px;
    left: 0px;
    top: 55px;
    background: radial-gradient(
      238.53% 189.02% at 3.2% 3.49%,
      rgba(255, 246, 233, 0.1) 0%,
      rgba(26, 29, 35, 0.1) 26.62%,
      rgba(26, 29, 35, 0.1) 52.1%,
      rgba(26, 29, 35, 0.01) 70.17%,
      rgba(26, 29, 35, 0) 100%
    );
    backdrop-filter: blur(7.5px);
  }
}