.footer {
  min-height: 275px;
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  padding: 0 10px 20px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    background: #000;
    padding: 35px 10px 20px;
  }
}

.wrapper,
.containerMenu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 160px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 52px;
}

@media screen and (max-width: 900px) {
  .containerMenu {
    max-height: 180px;
  }
  .wrapper {
    max-height: 100px;
  }
}

.link,
.linkMenu {
  list-style-type: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;

  color: #e4e5ea;
}

@media screen and (max-width: 900px) {
  .linkMenu {
    max-width: 123px;
  }
  .link,
  .linkMenu {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #656566;
}

.menu {
  display: flex;
  gap: 98px;
}

@media screen and (max-width: 900px) {
  .menu {
    flex-direction: column;
    gap: 30px;
  }
  .title {
    font-size: 12px;
    line-height: 15px;
  }
}

.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  text-align: right;

  color: #e4e5ea;
}

@media screen and (max-width: 900px) {
  .copyright {
    text-align: left;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  text-align: right;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #e4e5ea;
}

@media screen and (max-width: 900px) {
  .contact {
    text-align: left;
  }
}

.tel {
  font-weight: 500;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 900px) {
  .tel {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .address {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .copyrightE,
  .copyrightErr {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
